:root {
    --primary-blue: #508FFF;
    --secondary-blue: #50ceff;
    --light-blue: #83C5F7;
    --dark-light-green: #5aff4a;
    --light-green: #9cff6a;
    --white: #FFFFFF;
    --mu-blue: #004C9C;
    --mu-green: #29ABE2;
    --black: #000000;
    
    /* Secondary Colors */
    --mu-purple: #b38dff;
    --mu-yellow: #FFD700;
    --mu-orange: #F7941D;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  
  h1, h2, h3 {
    color: var(--secondary-blue);
  }
  
  a {
    color: var(--light-blue);
  }
  
  p {
    color: var(--white);
  }
  
  button {
    background-color: var(--light-green);
    color: var(--primary-blue);
  }
  
  .green_circle {
    background-color: var(--light-green);
    border-radius : 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }


   /*nav bar*/
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:var(--mu-blue);
    box-shadow: 2px 2px 10px var(--black);
  }

  .navbar img{
    width: 64px;
  }


  .nav-links a{
    color:var(--white);
  }


  .menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .menu li:hover{
    background-color: var(--light-blue);
    color: var(--mu-blue);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--black);
    transition: 0.3s ease;
  }

  .menu li{
    padding: 5px 14px;
  }
