:root {
    --primary-blue: #508FFF;
    --secondary-blue: #50ceff;
    --light-blue: #83C5F7;
    --dark-light-green: #5aff4a;
    --light-green: #9cff6a;
    --white: #FFFFFF;
    --mu-blue: #004C9C;
    --mu-green: #29ABE2;
    
    /* Secondary Colors */
    --mu-purple: #b38dff;
    --mu-yellow: #FFD700;
    --mu-orange: #F7941D;
  }
  

  body {
    background-color: var(--primary-blue);
    color: var(--white);
  }
  
  h1, h2, h3 {
    color: var(--secondary-blue);
  }
  
  a {
    color: var(--light-blue);
  }
  
  p {
    color: var(--white);
  }
  
  button {
    background-color: var(--light-green);
    color: var(--primary-blue);
  }
  
  .green_circle {
    background-color: var(--light-green);
    border-radius : 50%;
    width: 100px;
    height: 100px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:var(--mu-blue);
  }

  .nav-links a {
    color:var(--white);
  }

  .logo {
    font-size: 32px;
  }