:root {
    --dark-green: #336600;
    --secondary-blue: #50ceff;
    --light-blue: #007cb8;
    --matcha-green: #d1eb9c;
    --mu-green: #B4DF5D;
    --white: #FFFFFF;
    --mu-blue: #0071BC;
    --mu-oblue: #01356d3b;
    --mu-odblue: #0011243b;
    --black: #000000;
    --opaque:#86898d65;
    
    /* alumni bg colors */
    --mu-cwhite: #ffffff6b;
    --mu-cblue: #004b9c70;
    --mu-cpurple: #623078;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  @font-face {
    font-family:'Futura' ;
    src: url(images/Futura.ttc);
  }

  body{
    font-family: 'Futura';

  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  
  h1, h2, h3 {
    color: var(--white);
    font-weight: bold;
    font-size: 22px;
  }
  
  a {
    color: var(--white);
  }
  
  p {
    color: var(--mu-blue);
  }

  
  .green_circle {
    background-color: var(--light-green);
    border-radius : 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }



   /*nav bar*/
  .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color:var(--mu-blue);
  }

  .navbar img{
    width: 300px;
  }


  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color:var(--white);

  }

  .nav-link{
    background-color: var(--mu-blue);

  }

  .nav-link:hover{
    color: var(--mu-blue);
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--black);
    transition: 0.7s ease;  
    color: var(--white);
  }


  .applybutton{
    display: flex;
    float: right;
    position: relative;
    align-items: center;
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:var(--white) ;
   }

   @media(max-width:1000px){
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 25px;
      flex-direction: column;
      background-color: var(--mu-blue);
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-item{
      margin: 16px 0;
    }

    .nav-menu.active{
      left: 0;
    }


   }


     /*background cont*/

  .container{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover ;
    background-image:linear-gradient(var(--mu-oblue),var(--mu-odblue)), url(images/campus.jpg) ;
    background-attachment: fixed ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container h2 {
    font-size: 120px ;
    color: var(--white);
  }

  .container p {
    font-size: 40px;
    color: var(--white);
  }


   /*alumni stuff*/

   .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .content .textBox{
    position: relative;
    max-width: 800px;
   }

   .content .textBox h2{
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
   }

   .content .textBox h2 span{
    font-size: 1.5em;
    font-weight: 900;
  }

   .content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 500px;
   }

   .content .imgBox img{
    max-width: 600px;
   }

   .stud{
    position: absolute;
    left: 40%;
    bottom: 20px;
    transform: translateX(25%);
    display: flex;
   }

   .stud li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
   }

   .stud li:hover{
    transform: translateY(-15px) ;
   }

   .stud li img{
    max-width: 60px;
   }

   .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: var(--mu-cblue);
    clip-path: circle(600px at right 800px);
    transition: 0.5s;
   }

   .container2{
    width: 100%;
    height: 825px;
    background-position: center;
    background-size: cover ;
    background-image:linear-gradient(var(--mu-oblue),var(--mu-odblue)), url(images/Campus2.jpg) ;
    background-attachment: fixed ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container2 p {
    margin-top: 20px;
  }

     /*footer*/

footer{
  padding: 4vw;
  background-color: var(--mu-green);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer li{
  list-style: none;
  color: var(--white);
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer li:hover{
  color: var(--white)
}

footer p{
  color: var(--mu-cpurple)
}

footer input{
  width: 220px;
  padding: 15px 12px;
  background: var(--mu-cwhite);
  border:none;
  outline: none;
  color:var(--white);
  padding-top: 10px;
  margin-top: 20px;
}

.blue {
  padding-left: 10px;
}

/*We are too good at keeping this organized based on hiarchy (insert all the sarcasm i have here)*/

.covidbanner{
  padding: 15px;
  background-color: var(--mu-green);
}

.covidbanner h1{
  text-align: center;
  color: var(--white);
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bottombanner {
  padding: 25px;
  background-color: var(--mu-green);
}

.nav2 {
  position: center;
  display: flex;
  width: 100%;
  padding: 120px;
  align-items: center;
  justify-content: space-between;
  background-color:var(--mu-blue);
  
}

.imgicons {
  display: flex;
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap:150px;
  font-size: 18px;
}

.imgicons a {
  color: var(--white);
}

.imgicons a img {
min-width: 100px; 
max-width: 100px
}

/* if possible change font to match whole page */ 

.searchcourse {
  padding: 30px;
  padding-right: 45px;
  padding-left: 45px;

}

.containersb {
  width: 100%;
  height: 200px;
  background-position: center;
  background-color:var(--matcha-green);
  background-size: cover ;
  display: flex;
  flex-direction: column;
}

.containersb h1 {
  color: var(--dark-green);
  font-size: 35px;
  left: 100px;
  margin: 25px;

}

.containersb input {
  display: flex;
  margin-left: 25px;
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  float: left;
  position: relative;
  align-items: start;
  padding: 15px 12px;
}

.containersb p{
  margin-left: 25px;
}
/* Blog cards */

article{
  --img-scale: 1.001;
  --title-color:var(--mu-blue);
  --link-icon-translate: -20px;
  --link-icon-opacity:0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: var(--mu-oblue);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after{
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2{
  margin:0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--mu-green);
  transition: color 0.3s ease-out;
  padding-left: 10px;
  padding-top: 10px;
}

figure{
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img{
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body{
  padding:24px;
}

article a{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

article p{
  padding-left:10px ;
  padding-right: 10px;
  color: var(--white);
}

article a:focus{
  outline: 1px dotted var(--black);
}

article a .icon{
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translate(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus){
  --img-scale:1.1;
  --title-color: var(--mu-cwhite);
  --link-icon-translate:0;
  --link-icon-opacity:1;
  box-shadow: var(--black) 0px 10px 36px 0px, var(--light-blue)0px 0px 0px 1px;
}

.blog{
  display:grid;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  gap: 24px;
  background-color: var(--mu-blue);
}

 @media(max-width:1200px){
  .imgicons {
    gap: 50px;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--mu-blue);
    width: 100%;
    transition: 0.3s;
    margin-left: 50px;
}
 }